{% extends "base.html" %}

{% block title %}Asset Allocation{% endblock %}

{% block content %}
<div class="mx-auto max-w-full px-4 py-6">
  <div id="asset-allocation-root" class="min-h-[720px]"></div>
</div>
{% endblock %}

{% block scripts %}
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="{{ url_for('static', filename='js/asset.jsx') }}"></script>
{% endblock %}
